@using mvcProje.Models.Entity
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<TBLKATEGORILER> 
@{
    ViewBag.Title = "IndexKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Kategoriler</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>KATEGORİ ID </th>
            <th>KATEGORİ ADI</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
            <th>ALERT</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var ktgr in Model) { 
        <tr>
            <td>@ktgr.KATEGORIID</td>
            <td>@ktgr.KATEORIAD</td>
            <td><a href="/KATEGORI/SIL/@ktgr.KATEGORIID" class=" btn btn-danger">SİL</a></td>
            <td><a href="/KATEGORI/KATEGORİGETİR/@ktgr.KATEGORIID" class=" btn btn-success">GÜNCELLE</a></td>
            <td>@Html.ActionLink("DİKKAT", "SİL", new { id = ktgr.KATEGORIID }, new { @class = "btn btn-warning", onclick = "return confirm('Silmek İstediğinizden Emin Misiniz?')" })</td>

        </tr>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("IndexKategori",new { sayfa }))

<a href="/KATEGORI/YENIKATEGORI" class="btn btn-primary">Yeni Kategori Ekle</a>