@model mvcProje.Models.Entity.TBLKATEGORILER
@{
    ViewBag.Title = "YENIKATEGORI";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>YENİ KATEGORİ EKLE</h2>





    <form class="form-group" method="post">
        <div>
            <label>Kategori Adı Girin:</label>
            @Html.TextBoxFor(m => m.KATEORIAD, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.KATEORIAD, " ", new { @style = "color:red" })
        </div>


        <div style="margin-top:10px">
            <button class="btn btn-info" id="btn2">Kategori Ekle</button>
 
         </div>

        <script>
            $('#btn2').click(function () {
                alert('Kategori Eklendi');
            });
        </script>
</form>