@using mvcProje.Models.Entity
@model List<TBLMUSTERILER>

@{
    ViewBag.Title = "IndexMusteriler";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Müşteriler</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>MÜŞTERİ ID </th>
            <th>MÜŞTERİ ADI</th>
            <th>MÜŞTERİ SOYADI</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mus in Model)
        {
        <tr>
            <td>@mus.MUSTERIID</td>
            <td>@mus.MUSTERIAD</td>
            <td>@mus.MUSTERISOYAD</td>
            <td><a href="/MUSTERI/SIL/@mus.MUSTERIID" class=" btn btn-danger">SİL</a></td>
            <td><a href="/MUSTERI/MUSTERİGETİR/@mus.MUSTERIID" class=" btn btn-success">GÜNCELLE</a></td>
        </tr>
        }
    </tbody>
</table>
<a href="/MUSTERI/YeniMusteri" class="btn btn-primary">Yeni Müşteri Ekle</a>