
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>YENİ MÜŞTERİ EKLE</h2>

<form class="form-group" method="post">


    <div >
        <label>Müşteri Adı Girin:</label>
        <input class="form-control" type="text" placeholder="Müşteri Adı" name="MUSTERIAD">

    </div>

    <div>
        <label>Müşteri Soyadı Girin:</label>
        <input class="form-control" type="text" placeholder="Müşteri Soyadı" name="MUSTERISOYAD">

    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Müşteri Ekle</button>
    </div>
</form>