@model mvcProje.Models.Entity.TBLMUSTERILER
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>YENİ MÜŞTERİ EKLE</h2>

<form class="form-group" method="post">


    <div>
        <label>Müşteri Adı Girin:</label>
        @Html.TextBoxFor(m => m.MUSTERIAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MUSTERIAD, " ", new { @style = "color:red" })
    </div>

    <div>
        <label>Müşteri Soyadı Girin:</label>
        @Html.TextBoxFor(m => m.MUSTERISOYAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MUSTERISOYAD, " ", new { @style = "color:red" })

    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Müşteri Ekle</button>
    </div>
</form>