@model mvcProje.Models.Entity.TBLSATISLAR
    @{
    ViewBag.Title = "IndexSatıslar";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Satış Sayfası</h2>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1"> Satış Yap</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    Satış Yapma Ekranı

                </h2>
                <form method="post" action="/Satıs/YeniSatis">
                    <div class="modal-body">
                        <label> Ürün Adı :</label>
                        @Html.TextBoxFor(m => m.URUN, new { @class = "form-control" })
                        <label> Ürün Fiyatı :</label>
                        @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control" })
                        <label> Müşteri Adı Soyadı :</label>
                        @Html.TextBoxFor(m => m.MUSTERI, new { @class = "form-control" })



                        <button style="margin-top:10px" class="btn btn-info">Satış İşlemini Yap</button>

                    </div>
                    @*<button class="btn btn-info">Verileri Kaydet</button>*@
                </form>

            </div>

        </div>

    </div>

</div>
